.App {
  height: auto;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0%;
  margin: 0%;
}
h2{
   padding: 10px 10px;
   margin-left: 5%;
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;
}

.Header {
  width: 100%;
  background-color: rgb(104, 111, 117);
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.Header input {
  width: 15%;
  border: none;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  font-weight: semibold;
  color: rgb(0, 0, 0);
  text-align: center;
  margin-right: 10%;
  cursor: pointer;
}
@media screen and (max-width:375){
     .Header input{
       width: 41%;
     }
}

.Display {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.coin {
  width: 400px;
  height: 160px;
  background-color: rgb(36, 36, 36);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  transition: all 0.3s ease;
}



.coin img {
  height: 30px;
  margin: 0px 45%;

}
.coin:hover{
  transform: scale(1.1);
 
  
}

